/* Variables */

$lightBgd: #eef0ef;
$darkBgd:  #171918;
$lightTxt: #eef0ef;
$darkTxt: #171918;

@mixin flexCenter ($direction){
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
  flex-wrap: wrap;
  white-space: nowrap;

}

@mixin lightText {
  

}

body, footer, a {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $lightBgd;
  text-decoration: none;
}

.logo {
  position: absolute;
  width:35%;
  left:0;
  top:0;
}

nav {
  position: relative;
  float: right;
  ul li {
    display: inline;
    padding: 1em;
  }
}

section{
  max-width: 85%;
  margin: 0 auto;

}
#SectionA{
  position: relative;
  height: 100vh;
  @include flexCenter(column);

}
.intro{
  padding: 10rem;

  text-align: center;
  h1{
    font-size: 2em;
    &:last-of-type{
      font-size: 3em;
    }
  }
}

.container {
  display: flex;
  justify-content: space-around;
}

.card {
  display: inline-block;
  max-width: 25%;
  text-align: center;
}
.card img{
  max-width: 100%;
  max-height: 200px;
  margin: 30px 0px;
  border:3px solid  $darkBgd;
}

.button {
  background-color: $darkBgd;
  color: $lightTxt;
  border: 2px solid $lightBgd;
  padding: 1em;
  border-radius: 32px;
  
  &:hover {
    background-color: $lightBgd;
  color:$darkTxt;
  border: 2px solid $darkBgd;

  }
}

.shadow {
  display:block;
  width:100%;
  position: relative;
  bottom: 0;
}

footer {
  color: $lightTxt;
  text-decoration: none;
  padding:2em;
  text-align: center;
  line-height: 1.5em;
  background-color: $darkBgd;
}

footer a{
  color: $lightTxt;
  text-decoration: none;
  background-color: $darkBgd;
}